html {
  scroll-behavior: smooth;
}

body {
  background-color: red;
}

#anc {
  font-weight: normal;
}

.block:not(.first) {
  padding: 10px 20px 25px 30px;
  border-radius: 10px;
  background-color: white;
  width: 200px;
  height: 300px;
  margin-top: 10px;
}

.first {
  border-radius: 10px;
  width: 400px;
  height: 200px;
  margin-top: 10px;
  background-color: white;
}

#list {
  padding: 10px;
  margin-left: 30px;
  list-style: none;
}
#list li {
  font-size: 1.2em;
  font-weight: bold;
  font-family: cursive;
  color: #000;
  border: 1px solid black;
  padding: 10px;
  text-decoration: underline;
}

#anc2 {
  color: black;
}
#anc2:hover {
  color: red;
}
#anc2:active {
  color: blue;
}
#anc2:visited {
  color: grey;
}

#anc3 {
  color: black;
}
#anc3:hover {
  color: red;
}
#anc3:active {
  color: blue;
}
#anc3:visited {
  color: grey;
}

#grid {
  width: 100%;
  height: auto;
  float: left;
  background: pink;
}
#grid div {
  float: left;
  background: grey;
  margin: 2%;
  margin-bottom: 0;
  height: 200px;
  width: 47%;
}
#grid div:nth-child(2n) {
  margin-left: 0;
}
#grid div:nth-child(7n) {
  margin-bottom: 2%;
}

.someClass-1 {
  width: 51px;
  height: 51px;
}

.someClass-2 {
  width: 52px;
  height: 52px;
}

.someClass-3 {
  width: 53px;
  height: 53px;
}

.someClass-4 {
  width: 54px;
  height: 54px;
}