@mixin border($bord...){
  border: $bord
}

@mixin padd($padd...){
  padding: $padd;
}

@mixin font($color,$FontW){
  font-size: 1.2em;
  font-weight: $FontW;
  font-family: cursive;
  color: $color;
}

@mixin link($color1, $color2, $color3, $color4){
  color: $color1;

  &:hover{
    color : $color2;
  }
  &:active{
    color: $color3;
  }
  &:visited{
    color: $color4;
  }
}

@mixin grid($sum, $margin){
  @if($sum ==2){
    float:left;
    background: grey;
    margin-right: $margin;
    margin-left: $margin;
    margin-top: $margin;
    height: 200px;
    width: ((100% -($sum + 1) * $margin) / $sum);

    &:nth-child(#{$sum}n){
      margin-left: 0;
    }
    &:nth-child(#{$sum*4}n){
      margin-bottom: $margin;

    }
  }
  @if($sum ==3){
    float:left;
    background: grey;
    // margin-bottom: $margin;
    margin-left: $margin;
    margin-top: $margin;
    height: 200px;
    //46
    width: ((100% -($sum + 1) * $margin) / $sum);


    &:nth-child(#{$sum}n){
      margin-right: $margin;
    }
    &:nth-child(#{($sum*3)- 1}n){
      margin-bottom: $margin;
    }
  }
  @if($sum ==1){
    float:left;
    background: grey;
    // margin-right: $margin;
    margin-bottom: $margin;
    height: 200px;
    //46
    width:100%;
    &:nth-child(#{$sum * 8}n){
      margin-bottom: 0;
    }

  }
  @if($sum ==8){
    float:left;
    background: grey;
    margin-right: $margin;
    height: 200px;
    // 86
    width:((100% -($sum - 1) * $margin) / $sum);

    &:nth-child(#{$sum}n){
      margin-right: 0;
      margin-bottom: 0;
    }

  }
}
